#include <windows.h>
 
STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
BEGIN
    1   ""
    2   "Version "
    3   "Licensed to:\r\n"
    4   "    "
    5   "Uptime: "
    6   "y "
    7   "d "
    8   "Expires "
    9   "License: "
    10  "Total grace days: "
    11  "Remaining grace time: "
    12  "Remaining rearm count: "
    13  "Supported architectures: "
    14  "Installed languages: "
    15  " (current)"
    16  " (system)"

    0x20 "Unlicensed"
    0x21 "Activated" // Licensed
    0x22 "OOB Grace Period"
    0x23 "Not activated" // Extended Grace Period
    0x24 "OOT Grace Period"

    0x2A "Genuine"
    0x2B "Unlicensed"
    0x2C "Tampered"
    0x2D "Offline"

    0x30 "Virtualization: "
    0x31 "Not available\r\n"
    0x32 "Enabled"
    0x33 "\r\n    "
    0x34 "    VM Name: "
    0x35 "    VM GUID: "
    0x36 "    Host Name: "
    0x37 "Hyper-V Version: "
    0x38 " SP "
    0x39 " Branch "
    0x3A "Host"
    0x3B "Guest"
    0x3E "Isolated session"
    0x3F " (server container)"
END
