#include <windows.h>
 
STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT
BEGIN
    1   ""
    2   "Version "
    3   "\r\nLicensed to:\r\n"
    4   "    "
    5   "\r\nUptime: "
    6   "y "
    7   "d "
    8   "Expires "
    9   "License: "
    10  "Total grace days: "
    11  "Remaining grace time: "
    12  "Remaining rearm count: "
    13  "\r\nSupported architectures: "

    0x10 "Genuine"
    0x11 "Unlicensed"
    0x12 "Tampered"
    0x13 "Offline"

    0x20 "Unlicensed"
    0x21 "Activated" // Licensed
    0x22 "OOB Grace Period"
    0x23 "Not activated" // Extended Grace Period
    0x24 "OOT Grace Period"
END
